.list-container #header-list-area {
    margin-top: -20px;
    height: 8px;
    content: " ";
}
.list-controls .navigation-container {
    margin: 5px 0 0;
}
.list-controls .nav-pills {
    margin: 0 0px 5px 0px;
}
.alert.alert-info.clickable {
    margin-bottom: 10px;
}
.category-box {display:none!important}
.navigation-categories #main-outlet.wrap {
    padding-left: 0 !important;
    padding-right: 0 !important;    
}
#main-outlet.wrap .list-controls {
     margin: 10px 5px 5px 5px;
}
.topic-status-info {
    margin-top: 10px;
    padding-top: 10px;
}
tr.category-topic-link {
    border-bottom: 1px solid #222;;
}
tr.topic-list-item   {
    /*border-bottom: 1px solid #666;*/
}
.topic-list-item td:first-child {
   border-bottom: 2px solid #222;
   padding: 15px 0 !important;
}
.btn.btn-icon-text, .select-kit-header.btn-default.dropdown-select-box-header.btn.no-text {
        background-color: #555;
}
#list-area {
    margin-bottom:0px!important;
}
.regular {
    background-color: #333!important;
    padding: 0 0px;
    border-radius: 0 0 0 0;
}
nav.post-controls button.create {
    background-color:#555;
 
}
nav.post-controls  .create:hover {
    background-color:#2572e4;
    color:#e5e5e5;
}
#topic-footer-buttons .create {
    background-color:#2572e4;
    color:#333;
}

#topic-footer-buttons .create:hover {
    background-color:#ddd;
    color:#2572e4;
}
.save-or-cancel .create {
    background-color:#2572e4;
    color:#333;
}
.save-or-cancel .create:hover {
    background-color:#ddd;
    color:#2572e4;
}

.topic-post.regular {
    border-top: 2px #222 solid !important;
    border-radius: none!important;
}
.category-list .category-list-item {
    padding-top: 0px!important;    
    padding-left: 0px!important;
   
}
.category-list th {
    padding-left: 0px!important;  
}
.topic-post nav.post-controls button.reply .d-icon {
    color:#e9e9e9;
}
.topic-list-item td:first-child {
   border-bottom: 2px solid #222;
   border-top: 2px solid #222;
   padding: 15px 0 10px;
}
.topic-list .topic-list-item-separator {
    background-color: #dd2222;
}