.onebox.twitterstatus .tweet {
    padding-top: 10px;
    margin-left: 0; 
}
aside.onebox .onebox-body .tweet-images {
    padding-top: 8px;
}
aside.onebox {
    border: 2px solid #555;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-top: 1.5em;    
    padding: 12px 15px ;
    font-size: 1em;
    max-width: 600px;
    background-color: #444;
    border: 3px solid #555;
}
.lightbox-wrapper {
    margin-top: .5em;
}
.poll-container p {
    margin-top: 0;
}
[title$="Insert date / time"] {
    display:none !important
}
.d-header {background-color: #1550a7 !important}
.d-header-icons .d-icon {color:#151515 !important }/*#ffcf14*/
body{background-color:#222222 !important }
.mobile-device body{background-color:#333!important}

.badge-wrapper .badge-category .category-name:hover {
    text-decoration: underline !important;
}
a:hover {
    color: #528fea;
    text-decoration: underline;
}
.category-list a {
    color: #dddde5 !important;
}
 .category-list a:hover {
    color: #2572e4 !important;    
    text-decoration: underline !important;
}
.category-box-inner .featured-topics a{
    color: #dddde5;
}
.category-box-inner .featured-topics a:hover{
    color: #2572e4;
}
.category-box-heading h3 {
    color:#2572e4
}
.category-box-heading h3:hover{
   text-decoration: underline
}

.subcategory .category-name {
    font-size: 1em;
        color:#dddde5;
}
.category-name:hover {
    font-size: 1em;
        color:#2572e4;
}
tr.topic-list-item a:hover{

        color:#2572e4!important;
}

.category-list {
     margin-bottom: 2px;
}
.category-list th {
    background-color:#393939 !important; 
    border:solid 2px #393939!important;
    border-left:solid 6px #393939!important;
    color: #eee !important;    
    padding-left: 12px!important;

}
.category-list{
    margin-left: 0px!important;
}
.category-list thead   { 
    /*border-left:solid 6px #300!important;*/
        border-right:solid 0px #222!important;
}
.category-list th  { 
     padding-right: 0!important
}
tr.topic-list-item   {
    border-bottom: 1px solid #555;
}
.nav-pills>li  {
    background-color: #454545;
}
.btn.btn-icon-text, .select-kit-header.btn-default.dropdown-select-box-header.btn.no-text {
        background-color: #555;
}
.list-controls .combo-box .combo-box-header {
    background: #444
}
.badge-wrapper {font-size: 1em;}
.extra-info-wrapper .topic-link {
    color: #f5f5f5;
}

tbody, .mobile-device tbody {
    border-top:none !important;
}

table.category-list.with-topics {
    margin:0 !important;
}
table.category-list.with-topics .category {
    width: 30%
}
@media (max-width: 1060px) {
    table.category-list.with-topics .category {
        width: 33%;
    }
}
.regular {
    background-color: #333!important;
    padding-left: 20px;
    border-radius: 15px;
}
.regular .contents {
    background-color: inherit!important;
    border-radius: 15px;
}

.alert.alert-info {
    background-color: #94c9fd;
    color: #222;
}

/*****************************************/


.regular .contents {
    background-color: inherit!important;
    border-radius: 15px;
}

.topic-owner.regular {
     padding-left: 0px!important;
}
.topic-post.regular {
     padding-left: 0px!important;
}
.topic-owner {
    border-bottom:none!important;
 /*     background-color: #fff!important;*/
}

.cooked {
    padding-left: 0!important;
}
 /*.post-menu-area      {
   background-color: #5484CC!important;
     border: 1px soild #5484CC!important;  
     background-color: #444!important;
     border: 1px soild #555!important;     
     border-radius: 5px;
}*/
.d-editor-button-bar  {
    background-color:#555;
    margin:0 0 0 0;
    padding: .25em;
}
/*
.actions .d-icon {
    color: #f33;
}*/
.alert.alert-info {
    background-color: #94c9fd;
    color: #222;
}
/*#topic-bottom {
    border-top: 11px solid #ddd;
    margin: 10px 20px 0 0 ;
    padding: 10px  0;
    width: calc(900px + (11px * 2));
}*/
.topic-status-info {
    border-top: 2px solid #222;
    max-width: 810px;
}
#topic-footer-buttons {
    border: 1px solid #444;
    border-radius: 5px;
    margin: 0px 0 40px 20px;
    padding: 20px 20px 5px 20px  ;
    max-width: 100%;
    background-color:#272727;
    max-width:900px;
}
/*#topic-footer-buttons .d-icon-reply, #topic-footer-buttons .d-button-label {
    color: #222;
}
#topic-footer-buttons  .d-icon-reply:hover, #topic-footer-buttons .create .d-button-label {
    color: #2572e4;
}
#topic-footer-buttons .create .d-button-label:hover {
    color: #222;
}*/

.suggested-topics {
 border-top: 1px solid #444;
 padding: 15px 0;
}
/********************************************/
.list-container {
    padding: 0 0 2px 0px;
    border-radius:10px;
    padding-left: 0px;
    background-color:#333 !important

}
.navigation-categories .list-container {
    padding: 0 0 2px 0px;
    border-radius:0;
    border-radius:10px;
    padding-left: 0px;
    background-color:#333 !important
}
.topic-list thead   {     
    background-color:#555 !important; 
    border-bottom:solid 1px #222!important;
}
footer .footer-message {
    padding-left: 40px;
}

.category-box {
    border-radius: 0 0 0 15px ;
   /* border: 1px  solid #0088CC !important;*/
    border-left:solid 3px  #5484CC!important;
    border-bottom: solid 1px  #5484CC!important;
}
.category-box-inner {
    border-radius: 0 15px 0 15px;
    border: none !important;
}


.timeline-container .topic-timeline .timeline-handle {
    background-color: #0084FF;
}
.timeline-container .topic-timeline .timeline-scrollarea {
    border-color: #5484CC;
}


/**********embedded posts*************/

.embedded-posts.top .topic-body {
   border-top:none !important;
    padding-top: 15px;
}
.embedded-posts.top.topic-body {
    border: 2px solid #888;
    border-top:2px solid #888 !important;
    border-bottom:none;
    padding: 0;
}
.embedded-posts .topic-avatar {
    padding-left: 25px !important;
    padding-top: 15px;
}
.embedded-posts .collapse-down, .embedded-posts .collapse-up {
    border: 1px solid #888888;
}
/*
tr[data-category-id]{
  	border-bottom: 1px inset #5485CC;
}
.category-bgd {
	background-color:#fafafa;
	border-left: solid 6px #fafafa;
}*/

.category-list th {
	color:#000;
}

tr[data-category-id="5"], .category[data-category-id="5"] {
	border-left:solid 6px #2572e4!important;
	border-bottom: 2px solid  #2572e4 !important;
	border-top: none !important;
}
tr[data-category-id="8"], .category[data-category-id="8"] {
	border-left:solid 6px #6d5bd1 !important;
	border-bottom: 2px solid  #6d5bd1 !important;
	border-top: none !important;
}
tr[data-category-id="15"], .category[data-category-id="15"] {
	border-left:solid 6px #35AD6A !important;
	border-bottom: 2px solid  #35AD6A!important;
	border-top: none !important;
}
tr[data-category-id="4"], .category[data-category-id="4"]  {
	border-left:solid 6px #ff7114 !important;
	border-bottom: 2px solid #ff7114!important;
	border-top: none !important;
}
tr[data-category-id="3"], .category[data-category-id="3"] {
	border-left:solid 6px #2572e4 !important;
	border-bottom: 2px solid #2572e4!important;
	border-top: none !important;
}
tr[data-category-id="19"], .category[data-category-id="19"] {
	border-left:solid 6px #f00 !important;
	border-bottom: 2px solid #f00!important;
	border-top: none !important;
}
/* admin panel */
.admin-main-nav .nav-pills li {        
    border: solid 2px #222;
}
.details {
        border: solid 2px #555;
}
.details .display-row {
    border-bottom: solid 3px #222;
}

.admin-detail .settings .setting {
    padding: 10px;        
    border: solid 2px #222;
}
.admin-nav .nav-stacked li{
    border: solid 1px #222;
}
.admin-control themes-list-item{
    border: solid 1px #222;
}


/***** hide bad  things *****/
[aria-label="Impersonate"] {
    display: none;
}
.highlighted {
    animation: none !important
}
[data-category-id="19"] {
  display: none;
}
.category-boxes, .category-boxes-with-topics {
    display:none;
}
